<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPiServer.Find" version="13.4.8" targetFramework="net462" />
  <package id="FluentAssertions" version="2.0.0.1" targetFramework="net40" requireReinstallation="True" />
  <package id="Machine.Specifications" version="0.5.11" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="StoryQ" version="2.0.5" targetFramework="net40" />
  <package id="xunit" version="1.9.1" targetFramework="net40" />
</packages>